* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 15px;
    background-color: rgb(250, 240, 151);
}

h1 {
    justify-content: flex-start;
    font-size: 50px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-left: auto;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

body {
    background-color: lemonchiffon;
}

.image {
    display: flex;
    background-image: url("../assets/header.jpg");
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.about-me {
    display: flex;
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about-me h2 {
    justify-content: flex-start;
}

.about-me p {
   font-size: 25px;
   align-items: center;
}

.monique {
    height: 500px;
    width: 100%;
    background-color: rgb(250, 240, 151);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 15px;
    flex: 0 0 300px;
    transform: rotate(-8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.work {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projects {
    background-color: rgb(250, 240, 151);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    padding: 10px 15px;
    flex: 0 0 300px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }

.projects h3 {
    text-align: center;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
}

.projects img {
    border-width: 5px;
    border-radius: 50px;
}

.projects:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(250, 240, 151);
}

footer h2 {
    display: flex;
    justify-content: center;
}

.contact-me {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
}